@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Style Heading*/
.blue-text {
    color: #142263;
    font-family: "Limelight", sans-serif;
}

.small-text {
    margin-top: 20px;
    color: #021363;
    font-family: "Limelight", sans-serif;
    font-size: 20px;
}

.video {
    display: block;
    margin: auto;
}